*.cbp
*.depend
*.layout
*.exe
*.dll
*.o
*.db
*.res
*.rc
*.ico
*.sav
*.bat
*.xcf
*.dat
*.cscope_file_list
DeathCertificate.png
src/MD5.cpp
src/OnlineScoring.h
src/MD5.h

# CMake / OS X
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Debug/
*.build/
*.xcodeproj/
