*.cbp
*.depend
*.layout
*.exe
*.dll
*.o
*.db
*.res
*.rc
*.sav
*.bat
*.xcf
*.dat
*.cscope_file_list
DeathCertificate.png
src/MD5.cpp
src/OnlineScoring.h
src/MD5.h

# CMake / OS X
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Debug/
*.build/
*.xcodeproj/
_CPack_Packages/
CPack*Config.cmake
install_manifest.txt
*.dmg
*.app/

# Visual Studio
*.vcxproj*
*.opensdf
*.sdf
*.sln
